  .fixturesContainer {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .fixturesContainer h2 {
    font-size: 28px;
    color: #333;
    border-bottom: 2px solid #0099cc;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .fixture {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 15px 15px;
    border-radius: 5px; 
    display: block;
    align-items: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .fixture:hover {
    background-color: #e6f7ff;
    transform: translateY(-5px);
  }

  .fixture span.time {
    flex: 0 0 80px; 
    text-align: left; 
    font-weight: bold;
  }
  
  .teams {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
  .teams .homeTeam {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .teams .awayTeam {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .teams .homeTeam img,
  .teams .awayTeam img {
    width: 28px;
    margin: 0 5px;
  }
  
  .teams .scores {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .fixturesContainer h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .fixturesContainer p {
    margin-bottom: 8px;
  }

  .fixturesContainer .leagueSection {
    margin: 10px 0;
    padding: 5px;
    background-color: #333;
  }

  .fixturesContainer .countryFlag {
    width: 24px;
    height: 18px;
    object-fit: cover;
  }

  .fixturesContainer table {
    width: 100%;
  }

  .fixturesContainer table th {
    text-align: left;
    border: 0;
    color: white;
  }

  .fixturesContainer .fixture td {
    display: flex;
    align-items: center;
    border: 0;
  }



  .logos img{
    width: 30px;
    vertical-align: middle;
  }