.fixturesContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .fixturesContainer h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .fixturesContainer h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .fixturesContainer p {
    margin-bottom: 8px;
  }

  .fixturesContainer .country-flag {
    width: 24px;
    height: 18px;
    object-fit: cover;
  }

  .fixturesContainer table {
    width: 100%;
  }

  .fixturesContainer table th {
    text-align: left;
    border: 0;
  }

  .fixturesContainer .fixture td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
  }

  .fixturesContainer .teams {
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
  }